*{
    margin:0;
    padding:0;
}
main{
    position: absolute;
    top: calc(20% + 1%);
    width: 89.99%;
    left: 5%;
    border: 1px solid green;
    text-align: center;
}

header{
    position: absolute;
    top:0;
    left:0;
    width: 99.5%;
    height:10%;
    border:2px solid red;
}
#enlaces{
    position: relative;
    top:0;
    background-color: lightskyblue;
    width:100%;
}
#enlaces>li{
    position:relative;
    display: inline-block;
    width: 32.5%;
    text-align: center;
    background-color: #808080;
    top:0;
    height: 20%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:lightgray;
}

/* dejar lista principal */

.invisible{
    display: none;
}
.invisible2{
    display: none;
}
ul>li:hover a{
    color:red;
    top:0;
}
ul>li:hover .invisible{
    display: block;
    margin-top:0;
}
ul>li>ul>li:hover .invisible2{
    display: block;
    margin-top: 0;
}