*{
    margin:0;
    padding:0;
}
main{
    position: absolute;
    top: calc(20% + 1%);
    width: 89.99%;
    left: 5%;
    border: 1px solid green;
    text-align: center;
}
header{
    position: absolute;
    top:0;
    left:0;
    width: 99.5%;
    height:10%;
    border:2px solid red;
}
/* si no consigo alinear, quitar height y padding */
.menu1{
    display: inline-block;
    position: fixed;
    top:0;
    width: 33%;
    background-color: gray;
    text-align: center;
}
.menu2{
    display: inline-block;
    position: fixed;
    top:0;
    width: 33%;
    left:33%;
    background-color: gray;
    text-align: center;
}
.menu3{
    display: inline-block;
    position: fixed;
    top:0;
    width: 33%;
    left:66%;
    background-color: gray;
    text-align: center;
}
.submenu1{
    display: none;
}
.submenu2{
    display: none;
}
.subsubmenu{
    display: none;
}
.menu2:hover .submenu1{
    display: block;
}

.menu3:hover .submenu2{
    display: block;
}
.submenu2:hover .subsubmenu{
    display: block;
}
